[http]
    sslVerify = true

[user]
    name = Piotr Wilkosz
    email = piotr.wilkosz.ext@deutsche-boerse.com

[push]
    default = simple

[credential]
    helper = cache --timeout=1000000

[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    vdiff = difftool -t vimdiff -y
